.source {
    height: 400px;
}
.variables {
    border: 1px solid #aaa;
    background-color: #ccc;
    color: #030;
    height: 99px;
}
.code-controls input, .code-controls button {
    clear: both;
    background-color: green;
    color: white;
    &[disabled] {
        opacity: 0.5;
    }
}

.ace_gutter-cell.current {
    background-color: yellow!important;
}
.ace_gutter-cell.crashed {
    background-color: red!important;
}

.ace_layer .stmt.active {
    background-color: rgba(0,200,0,0.2);
    position: absolute;
}
.sy-keyword {
    color: blue!important;
}
.sy-variable {
    color: #050!important;
    font-style: italic;
}
.sy-expression {
    color: #500!important;
    font-style: italic;
}

.gameIntroText{
    font-size:3em;
    text-align:center;
}
.robotProfile{
    height:5em;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}