.pc {
    float: left;
    width: 20px;
    height: 400px;
    resize: none;
    text-align: right;
}
.source {
    float: left;
    width: 60%;
    height: 400px;
}
.console, .variables {
    border: 1px solid #aaa;
    background-color: #ccc;
    color: #030;
    float: left;
    width: 38%;
    margin-left: 1%;
    height: 199px;
}
.compile, .step, .run {
    clear: both;
    background-color: green;
    color: white;
}

.ace_gutter-cell.current {
    background-color: yellow!important;
}
.ace_gutter-cell.invalid {
    background-color: pink!important;
}

.ace_layer .stmt.active {
    background-color: rgba(0,200,0,0.2);
    position: absolute;
}