.programBlock {
  background-color: #ddffdd;
  padding: 5px 9px;
  margin: 15px 0;

  h4 {
    margin-top: 8px;
  }

  &.active {
    border: 4px solid;
    border-color: #22ff22;
    padding: 1px 5px;
  }

  .delete {
  	cursor: pointer;
  	float: right;

  	:hover {
  		color: red;
  	}
  }

  // This is not very elegant...
  .childBlocks {
    margin-left: 1em;
    .programBlock {
      background-color: #ffdddd;
    }
    .childBlocks .programBlock{
      background-color: #FFFBDD;

      .childBlocks .programBlock {
        background-color: #FFDDFE;
      }
    }
  }
}

.programBlockContainer {
  background: #dedeff;
  margin-top: 0.5em;
  max-height: 500px;
  overflow-y: scroll;
  
  > div:nth-child(2n) > .programBlock {
    background-color: #bbffbb;
  }
}

.errorBar {
	background: red; 
    color: white;
	padding: 0.5em;
}

.blockLibrary {
	background: #dedede; 
	padding: 0.5em;
}

.codeEditor {
  background: #ffdede;
}
