.programBlock {
  background-color: #ddffdd;
  padding: 1px 5px;
  margin: 15px 0;

  .delete {
  	cursor: pointer;
  	float: right;

  	:hover {
  		color: red;
  	}
  }

  .childBlocks {
    margin-left: 1em;
    .programBlock {
      background-color: #ffdddd;
    }
  }
}

.programBlockContainer {
  background: #dedeff;
  margin-top: 0.5em;
  
  > div:nth-child(2n) .programBlock {
    background-color: #bbffbb;
  }
}

.blockLibrary {
	background: #dedede; 
	padding-bottom: 0.5em;
}

.codeEditor {
  background: #ffdede;
}