#game {
	.sidebar {
		width: 30%;
		max-width: 30%;
		float: right;

		> div {
			padding: 5px;
			margin: 10px 5px;
		}
	}

	canvas, table {
		margin: 1em;
		// border: 3px solid $color-primary;
		border: 3px solid;
		border-radius: 0.5em;
	}

	table {
		table-layout: fixed;

		td, img {
			width: 6em;
			height: 6em;
		}
	}

	td {
		background: $color-lightest;
		height: 7em;
	}
}