@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-k137zx');
	src:url('fonts/icomoon.eot?#iefix-k137zx') format('embedded-opentype'),
		url('fonts/icomoon.woff?-k137zx') format('woff'),
		url('fonts/icomoon.ttf?-k137zx') format('truetype'),
		url('fonts/icomoon.svg?-k137zx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\e1b0";
}
.icon-settings:before {
	content: "\e1db";
}
.icon-cog:before {
	content: "\e1df";
}
.icon-podium:before {
	content: "\e216";
}
.icon-medal:before {
	content: "\e218";
}
.icon-rocket:before {
	content: "\e234";
}
.icon-meter-fast:before {
	content: "\e239";
}
.icon-bomb:before {
	content: "\e23d";
}
.icon-fire:before {
	content: "\e23f";
}
.icon-cube4:before {
	content: "\e269";
}
.icon-target:before {
	content: "\e27a";
}
.icon-power:before {
	content: "\e28e";
}
.icon-upload:before {
	content: "\e2c3";
}
.icon-volume-medium:before {
	content: "\e390";
}
.icon-volume-mute:before {
	content: "\e393";
}
.icon-mail:before {
	content: "\e600";
}
.icon-reply:before {
	content: "\e601";
}
.icon-forward:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e603";
}
.icon-users:before {
	content: "\e604";
}
.icon-user-add:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e606";
}
.icon-heart:before {
	content: "\e607";
}
.icon-heart2:before {
	content: "\e608";
}
.icon-star:before {
	content: "\e609";
}
.icon-star2:before {
	content: "\e60a";
}
.icon-house:before {
	content: "\e60b";
}
.icon-search:before {
	content: "\e60c";
}
.icon-flag:before {
	content: "\e60d";
}
.icon-cog2:before {
	content: "\e60e";
}
.icon-tools:before {
	content: "\e60f";
}
.icon-clock:before {
	content: "\e610";
}
.icon-bolt:before {
	content: "\e611";
}
.icon-code:before {
	content: "\e612";
}
.icon-statistics:before {
	content: "\e613";
}
.icon-graph:before {
	content: "\e614";
}
.icon-info:before {
	content: "\e615";
}
.icon-info2:before {
	content: "\e616";
}
.icon-question:before {
	content: "\e617";
}
.icon-help:before {
	content: "\e618";
}
.icon-bookmark:before {
	content: "\e619";
}
.icon-arrow-left:before {
	content: "\e61a";
}
.icon-arrow-down:before {
	content: "\e61b";
}
.icon-arrow-up:before {
	content: "\e61c";
}
.icon-uniE61D:before {
	content: "\e61d";
}
.icon-twitter:before {
	content: "\e61e";
}
.icon-facebook:before {
	content: "\e61f";
}
.icon-googleplus:before {
	content: "\e620";
}
.icon-pinterest:before {
	content: "\e621";
}
