 <div id="game">

        <div class="errorBar" ng-show="errorMessage">
          Your program crashed!<br />
          {{ errorMessage }}
        </div>

    <game-table level="level" class="gameLevel"></game-table>

    <div class="sidebar">
        <div class="wrapBlockLib" ng-if="blockEditing">
            <div class="blockLibrary">

            	<div class="agentWrap">
                    <img class="robotProfile" src="/images/robot/robot-down.svg"/>
                    <span class="agentName">Ms. Roboto</span>
                </div>
                <!--<h2 style="margin-bottom:0px;">Robot Instructions</h2>
                (click on an instruction to add it to my task list)-->
                
            </div>
            <div class="programBlockContainer" block-container="program">
                <!--<h2>Task List:</h2>-->
                <div ng-if="!program.statements.children.length">
                    Add some tasks!
                </div>
                
                <div ng-repeat="stmt in program.statements.children track by stmt.id" block="stmt" class="blockContainer">
                </div>
            </div>
        </div>
        <div ng-if="!blockEditing">
            <div class="blockLibrary">
            	<div class="agentWrap">
                    <img class="robotProfile" src="/images/robot/robot-down.svg"/>
                    <span class="agentName">Ms. Roboto</span>
                </div>
            </div>
            <div class="codeEditor">&nbsp;
                <h2>Code</h2>
                <div basic-editor="program"></div>
                <div class="code-controls">
                    <!-- These should probably move eventually? -->
                    <input ng-click="program.compile()" class="compile" type="button" value="COMPILE" />
                    <input ng-click="program.step()" class="step" type="button" ng-disabled="!program.statements.children && !program.processor.halted" value="STEP" />
                    <input ng-click="program.run()" class="run" type="button" ng-disabled="!program.statements.children || program.isRunning()" value="RUN" />
                    <input ng-click="program.pause()" class="pause" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning() || program.isPaused()" value="PAUSE" />
                    <input ng-click="program.resume()" class="resume" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning() || (program.isRunning() && !program.isPaused())" value="RESUME" />
                    <input ng-click="program.kill()" class="kill" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning()" value="STOP" />
                </div>
            </div>
        </div>

        <div class="wrapBottomCtrl">

            <div ng-drop="true" ng-drop-success="addToProgram($data,$event)" class="dropzone">
                <span class="icon icon-download"></span>
            </div>

            <div class="instructionSub">
                <button type="button" class="btn btn-block btn-primary" ng-repeat="block in availableBlocks" ng-drag="true" ng-drag-data="block">
                    {{ block.cfg.label || block.constructor.prototype.keyword }}
                </button>
            </div>

            <div class="wrapBtnRun">
                <button class="btn btn-success btn-huge" ng-click="runProgram()" ng-disabled="program.isRunning()">Run</button>
            </div>

        </div>

        <!-- <button ui-sref="^.wrapup">WIN</button> -->
        <!--<input class="btn btn-primary" ng-click="resetGame()" class="reset" type="button" value="Reset" ng-disabled="program.isRunning()" />-->
        <button class="wrapViewBtn btn btn-primary-dark" ng-click="switchCodingContext()">
            <span ng-if="blockEditing">Code View</span>
            <span ng-if="!blockEditing">Block View</span>
        </button>
    </div>

</div>
