 <div id="game">

        <div class="errorBar" ng-show="errorMessage">
          Your program crashed!<br />
          {{ errorMessage }}
        </div>

    <div class="sidebar">
        <div ng-if="blockEditing">
            <div class="blockLibrary">
                <h2 style="margin-bottom:0px;">Robot Instructions</h2>
                (click on an instruction to add it to my task list)
                <div class="instructionSub">
                <button type="button" class="btn btn-block btn-primary" ng-repeat="block in availableBlocks" ng-click="addToProgram(block)">
                    {{ block.constructor.prototype.keyword }}
                </button>
                </div>
            </div>
            <div class="programBlockContainer" block-container="program">
                <h2>Robot Task List:</h2>
                <div ng-if="!program.statements.children.length">
                    Add some tasks!
                </div>
                <div ng-repeat="stmt in program.statements.children track by stmt.id" block="stmt"></div>
                <button ng-click="convertToCode()" type="button" class="btn btn-block btn-primary">Convert to code</button>
            </div>
        </div>
        <div ng-if="!blockEditing">
            <div class="codeEditor">
                <h2>Code</h2>
                <div basic-editor="program"></div>
                <div class="code-controls">     
                    <!-- These should probably move eventually? -->
                    <input ng-click="program.compile()" class="compile" type="button" value="COMPILE" />
                    <input ng-click="program.step()" class="step" type="button" ng-disabled="!program.statements.children && !program.processor.halted" value="STEP" />
                    <input ng-click="program.run()" class="run" type="button" ng-disabled="!program.statements.children || program.isRunning()" value="RUN" />
                    <input ng-click="program.pause()" class="pause" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning() || program.isPaused()" value="PAUSE" />
                    <input ng-click="program.resume()" class="resume" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning() || (program.isRunning() && !program.isPaused())" value="RESUME" />
                    <input ng-click="program.kill()" class="kill" type="button" ng-disabled="!program.statements.children || program.processor.halted || !program.isRunning()" value="STOP" />
                </div>
            </div>
        </div>

        <button class="btn btn-success btn-huge" ng-click="runProgram()" ng-disabled="program.isRunning()">Run</button>
        <!-- <button ui-sref="^.wrapup">WIN</button> -->
        <input class="btn btn-primary" ng-click="resetGame()" class="reset" type="button" value="Reset" ng-disabled="program.isRunning()" />
        <button class="btn btn-primary" ng-click="switchCodingContext()">
            <span ng-if="blockEditing">Code view</span>
            <span ng-if="!blockEditing">Block view</span>
        </button>
    </div>

    <game-canvas level="level"></game-canvas>

</div>
