<div class="programBlock" ng-if="!isBlank">
  <div class="delete pull-right" ng-click="delete()">&times;</div>
  <h4>{{ block.keyword }}</h4>
  <span class="description">
    {{ block.description }}
  </span>
  <form class="form-horizontal" ng-if="block.params">
    <div class="form-group" ng-repeat="param in block.params">
      <label for="{{ param.shortName }}_{{ block.id }}" class="col-sm-2 control-label">{{ param.name }}</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input id="{{ param.shortName }}_{{ block.id }}" type="text" class="form-control">
          <span class="input-group-addon">{{ param.units }}</span>
        </div>
      </div>
    </div>
  </form>
</div>