<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="scripts/parser.js"></script>
    <script src="scripts/basic.js"></script>
    <script src="scripts/processor.js"></script>
    <script src="scripts/interpreter.js"></script>
    <style type="text/css">
.pc {
    float: left;
    width: 20px;
    height: 400px;
    resize: none;
    text-align: right;
}
.source {
    float: left;
    width: 30%;
    height: 400px;
}
.console {
    border: 1px solid #aaa;
    background-color: #ccc;
    color: #030;
    float: left;
    width: 30%;
    margin-left: 10px;
    height: 400px;
}
.compile {
    clear: both;
    background-color: green;
    color: white;
}
.step {
    clear: both;
    background-color: green;
    color: white;
}
    </style>
  </head>
  <body>
<textarea class="pc" readonly="readonly" resizable="false">
</textarea>
<textarea class="source">

LET x = 1

LOOP
  LET x = x + 1
WHILE x < 5

FOR i = 1 TO 5
  Print i
NEXT i

FUNCTION Print i
  INTERRUPT 'print', i
END FUNCTION

</textarea>
    <div class="console">
    </div>
    
    <input class="compile" type="button" value="COMPILE" />
    <input class="step" type="button" value="STEP" />
  </body>
</html>
