<div class="basicEditor">
    <div ui-ace="{onLoad: aceLoaded, mode:'bhtbasic'}" class="source" ng-model="program.code">
    </div>
    <textarea class="prefill" style="display: none;">
LET x = 1

IF x &lt; 2 THEN
  Print 'hello, world'
END IF

IF x &gt; 2 THEN
  Print 'goodbye, world'
END IF

LOOP
  LET x = x + 1
WHILE x &lt; 5

FOR i = 1 TO 5
  Print i
NEXT i

FUNCTION Print i
  TELL robot : 'print', i
END FUNCTION
    </textarea>
    <div class="variables" ng-bind-html="variables()">
    </div>
    <div class="console" ng-bind-html="console()">
    </div>
</div>
