<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="../scripts/basic/parser.js"></script>
    <script src="../scripts/basic/basic.js"></script>
    <script src="../scripts/basic/processor.js"></script>
    <script src="../scripts/basic/interpreter.js"></script>
    <style type="text/css">
.pc {
    float: left;
    width: 20px;
    height: 400px;
    resize: none;
    text-align: right;
}
.source {
    float: left;
    width: 40%;
    height: 400px;
}
.console, .variables {
    border: 1px solid #aaa;
    background-color: #ccc;
    color: #030;
    float: left;
    width: 40%;
    margin-left: 10px;
    height: 199px;
}
.compile, .step, .run {
    clear: both;
    background-color: green;
    color: white;
}
    </style>
  </head>
  <body>
<textarea class="pc" readonly="readonly" resizable="false">
</textarea>
<textarea class="source">

// this is nothing

LET x = 1

IF x &lt; 2 THEN
  Print 'hello, world'
END IF

IF x &gt; 2 THEN
  Print 'goodbye, world'
END IF

LOOP
  LET x = x + 1
WHILE x &lt; 5

FOR i = 1 TO 5
  Print i
NEXT i

FUNCTION Print i
  INTERRUPT 'print', i
END FUNCTION

</textarea>
    <div class="variables">
    </div>
    <div class="console">
    </div>
    
    <input class="compile" type="button" value="COMPILE" />
    <input class="step" type="button" value="STEP" disabled="disabled" />
    <input class="run" type="button" value="RUN" disabled="disabled" />
  </body>
</html>
