<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-6" style="background: #dedede; padding-bottom: 0.5em;">
			<h2>Block Library</h2>
			<button type="button" class="btn btn-block btn-primary" ng-repeat="block in blockTypes" ng-click="addToProgram(block)">
				{{ block.name }}
			</div>
		</div>
	</div>
	<div class="row" block-container="program">
		<div class="col-md-6 col-md-offset-6 programBlockContainer" style="background: #dedeff; margin-top: 0.5em">
			<h2>Your Program</h2>
			<div ng-repeat="block in program track by block.id" block="block"></div>
		</div>
	</div>
</div>