<section class="comp-head">

  <div class="comp-title">
    <div class="robojam">
      <img src="/images/tobor.svg">
    </div>
    <span class="comp-title-text">World 0</span>
  </div>
  <p>
    Learn the basics of programming by navigating Tobor through different levels with programmatic challenges.
  </p>

  <div class="comp-head-img">
    <img src="/images/header-bg.jpg">
  </div>

</section>

<section class="comp-list-wrap">

  <!--<h2>Knowledge Base</h2>-->

  <ul class="comp-list">

    <li ng-repeat="level in levels" 
        class="comp-list-item done-{{level.completed * 100}}" 
        ng-click="loadLevel(level)">

      <p class="comp-name">{{level.name}}</p>

      <div class="comp-item">
        <div class="c100 p{{level.completed * 100}}">
          <span class="icon icon-{{level.icon}}"></span>
          <p class="comp-percent">{{level.completed * 100}}</p>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
        </div>
      </div>

    </li>

  </ul>

</section>
